body{
    background-image: url("https://wallpaperaccess.com/full/1158337.jpg");
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
#bac{
  margin-right: 1300px;
  margin-top: -40px;
}
#status
{
font-size: 18px;
}